.cabeza {
    padding: 50px;
    background-color: rgb(47, 231, 47);
    text-align: center;
}

.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: greenyellow;

}

.pie {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
    
}

hr {
    width: 95%;
    color: darkgreen;
}

.separar {
    padding-left: 8%;
    margin: auto 0;
}

.caja {
    background-color: rgb(181, 241, 90);
}